
    <!-- Documentation -->
    <div id="docs" class="container my-5 pb-4">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="text-center">Documentation</h2>
                <p class="text-start">
                    Tutorials, guides, and reference material for getting started with FOKS,
                    managing teams, hosting your own server, and more.
                </p>
                <div class="d-flex justify-content-center mt-4">
                    <a href="https://docs.foks.pub" class="btn btn-primary">
                        Read the Docs &rarr;
                    </a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
