
    <!-- Download and Install -->
    <div id="download" class="container my-5">
      <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
        <div class="card-header">
          <h3 class="text-center">Download And Install</h2>
        </div>
        <div class="card-body">
            <!-- Tabs Navigation -->
            <ul class="nav nav-tabs" id="installationTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="macos-tab" data-bs-toggle="tab" data-bs-target="#macos" type="button" role="tab" aria-controls="macos" aria-selected="false">macOS</button>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Linux</a>
                    <ul class="dropdown-menu">
                      <li>
                        <button class="nav-link" id="linux-debian-tab" data-bs-toggle="tab" data-bs-target="#linux-debian" type="button" role="tab" aria-controls="linux-debian" aria-selected="false">Debian</button>
                       </li>
                      <li>
                        <button class="nav-link" id="linux-ubuntu-tab" data-bs-toggle="tab" data-bs-target="#linux-ubuntu" type="button" role="tab" aria-controls="linux-ubuntu" aria-selected="false">Ubuntu</button>
                      </li>
                      <li>
                        <button class="nav-link" id="linux-fedora-tab" data-bs-toggle="tab" data-bs-target="#linux-fedora" type="button" role="tab" aria-controls="linux-fedora" aria-selected="false">Fedora</button>
                      </li>
                      <li>
                        <button class="nav-link" id="linux-static-tab" data-bs-toggle="tab" data-bs-target="#linux-static" type="button" role="tab" aria-controls="linux-static" aria-selected="false">Static Binary</button>
                      </li>
                    </ul>
                  </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="source-tab" data-bs-toggle="tab" data-bs-target="#source" type="button" role="tab" aria-controls="linux" aria-selected="true">Source</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="windows-tab" data-bs-toggle="tab" data-bs-target="#windows" type="button" role="tab" aria-controls="windows" aria-selected="false">Windows</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="server-tab" data-bs-toggle="tab" data-bs-target="#server" type="button" role="tab" aria-controls="server" aria-selected="false">Server</button>
                </li>
            </ul>

            <!-- Tabs Content -->
            <div class="tab-content" id="installationTabContent">
                <!-- Windows Instructions -->
                <div class="tab-pane fade" id="windows" role="tabpanel" aria-labelledby="windows-tab">
                    <div class="p-3">
                        <h5>Windows Installation</h5>
                        <div class="card bg-dark text-white">
                          <div class="card-body">
                            <pre class="mb-0 mt-0 text-start">
# Via winget package manager
> winget install foks
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- macOS Instructions -->
                <div class="tab-pane fade" id="macos" role="tabpanel" aria-labelledby="macos-tab">
                    <div class="p-3">
                        <h5>macOS Installation</h5>

                        <p class="text-start">
Automated install for macOS uses <a href="https://brew.sh">homebrew</a>. Though
it's possible to build FOKS from a source formula, we instead use the prebuilt
Cask distribution method. As such, you'll get a binary signed by the
FOKS developers (<a href="https://ne43.com">NE43 INC (L2W77ZPF94)</a>). 
A signed binary with a known author allows for password-free access to the <i>foks</i>
items in the macOS keychain. Without it, you'd have to enter multiple
administrator passwords on every upgrade.
                          </p>

                        <div class="card bg-dark text-white">
                          <div class="card-body">
                            <pre class="mb-0 mt-0 text-start">
$ brew install foks
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Linux Debian Instructions -->
                <div class="tab-pane fade" id="linux-debian" role="tabpanel" aria-labelledby="linux-debian-tab">
                    <div class="p-3">
                        <h5>Debian Installation</h5>
                        <div class="card bg-dark text-white">
                          <div class="card-body">
                            <pre class="mb-0 mt-0 text-start">
{{#shcom}}# For first time installation...{{/shcom}}
$ curl -fsSL  https://pkgs.foks.pub/install.sh  | sh

{{#shcom}}# For subsequent installs after apt sources are in place:{{/shcom}}
$ apt-get install foks
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="linux-ubuntu" role="tabpanel" aria-labelledby="linux-ubuntu-tab">
                    <div class="p-3">
                        <h5>Ubuntu Installation</h5>
                        <div class="card bg-dark text-white">
                          <div class="card-body">
                            <pre class="mb-0 mt-0 text-start language-shell">
{{#shcom}}# For first time installation...{{/shcom}}
$ curl -fsSL  https://pkgs.foks.pub/install.sh  | sh

{{#shcom}}# For subsequent installs after apt sources are in place:{{/shcom}}
$ apt-get install foks
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="linux-fedora" role="tabpanel" aria-labelledby="linux-fedora-tab">
                    <div class="p-3">
                        <h5>Fedora Linux Installation</h5>
                        <div class="card bg-dark text-white">
                          <div class="card-body">
                            <pre class="mb-0 mt-0 text-start language-shell">
{{#shcom}}# For first time installation...{{/shcom}}
$ curl -fsSL https://pkgs.foks.pub/install.sh  | sh

{{#shcom}}# For subsequent installs after apt sources are in place:{{/shcom}}
$ dnf install foks
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="linux-static" role="tabpanel" aria-labelledby="linux-static-tab">
                    <div class="p-3">
                        <h5>Static Linux Binary</h5>
                        <div class="card bg-dark text-white">
                          <div class="card-body">
                            <pre class="mb-0 mt-0 text-start language-shell">
{{#shcom}}# Will not auto-update...{{/shcom}}
$ curl -fsSL https://pkgs.foks.pub/install-static.sh  | sh
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Source Instructions -->
                <div class="tab-pane fade show active" id="source" role="tabpanel" aria-labelledby="source-tab">
                    <div class="p-3">
                        <h5>Build from Source</h5>
                        <p class="text-start">
                            To build FOKS from source, you will need a relatively-modern 
                            <a href="https://go.dev">Go</a> 
                            installation (1.23 or later). CGO is required to build SQLite.
                        </p>
                        <div class="card bg-dark text-white">
                          <div class="card-body">
                            <pre class="mb-0 mt-0 text-start language-shell">
$ go install github.com/foks-proj/go-foks/client/foks@latest
$ (cd $(dirname $(which foks)) && ln -s foks git-remote-foks)
$ foks ctl start 
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Server Instructions -->
                <div class="tab-pane fade" id="server" role="tabpanel" aria-labelledby="source-tab">
                    <div class="p-3">
                        <h5>Server</h5>
                        <p class="text-start">
                           BYO VM (via cloud-provider) or bare-metal server. Requires <a href="https://docker.io">docker-compose</a>.
                        </p>
                        <div class="card bg-dark text-white">
                          <div class="card-body">
                            <pre class="mb-0 mt-0 pb-0 text-start language-shell">
$ /usr/bin/env bash &lt;(curl -fsSL https://pkgs.foks.pub/server-install.sh)
                            </pre>
                            </div>
                        </div>
                        <p class="text-start mt-4">
                          Or you can build the above from source:
                        </p>
                        <div class="card bg-dark text-white">
                          <div class="card-body">
                            <pre class="mb-0 mt-0 pb-0 text-start language-shell">
$ go install github.com/foks-proj/go-foks/server/foks-tool@latest
$ foks-tool standup --interactive
$ docker-compose up -d
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <div class="col-md-2"> </div>
      </div>
    </div>