
    <!-- Roadmap -->
    <div id="roadmap" class="compact-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center">Roadmap</h2>
                    <p>
                        There are many ways we'd like to go in the future, depending on where
                        we get engagement and what features seem most useful for users.
                        Here are some directions we're considering:
                    </p>
                    <ul>
                        <li><b>Mobile phone apps</b></li>
                        <li><b>Localhost Web-based UI</b></li>
                        <li><b>Sync-based Filesystem</b></li>
                    </ul>
                    <p>
                        Visit our <a href="https://blog.foks.pub">blog</a> for updates.
                    </p>
                </div>
            </div>
        </div>
    </div>
