
    <!-- Who -->
    <div id="who" class="compact-section section-alt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h2>Who's Behind FOKS</h2>
                    <p>
                        FOKS is developed by <a href="https://ne43.com">ne43</a>,
                        a software firm headquartered in New York City.
                        Previously, we co-founded <a href="https://keybase.io/max">Keybase.io</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
