
<!-- Who -->
<div id="who" class="container my-5">
    <div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
    <h2 class="text-center">Who's Behind FOKS</h2>
    <p class="text-start">
        FOKS is developed by a <a href="https://ne43.com">ne43</a>,
	a software firm headquartered in New York City. 
        Previously, we co-founded <a href="https://keybase.io/max">Keybase.io</a>.
    </p>
    </div>
    <div class="col-md-2"></div> 
    </div>
</div>
