
    <!-- Principles section -->
    <div id="why" class="container my-5">
        <h2 class="text-center">Guiding Prinicples</h2>
        <div class="row mt-4 mb-4">
            <div class="col-md-4 mt-2 mb-2">
                <div class="text-center">
                <img src="/img/vault.jpg" style="height: 200px;" />
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="fs-4">Security & Integrity</h3>
                <p class="text-start">
                    The world has become accustomed to strong end-to-end encryption
                    and integrity for ephemeral messaging. Other applications have not enjoyed the same
                    level of security. FOKS aims currently to provide the best possible
                    security for long-lived data, like persistent file storage (Git) 
                    and persistent key-value storage.
                </p>
                <p class="text-start">
                    FOKS is designed from a security-first perspective, and not
                    as a bolt-on to an inherently insecure product. The team
                    has used decades of experience in similar products to 
                    achieve a level of security that we are proud of.
                </p>
            </div>  
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-4">
                <div class="text-center">
                <img src="/img/shh.png" style="width: 200px;" />
                </div>  
            </div>  
            <div class="col-md-8">
                <h3 class="fs-4">Privacy</h3>
                <p class="text-start">
                    Despite its ethos of forcing servers to immutably and
                    publicly commit to cryptographic data, FOKS hides personal
                    information behind one-way commitments as much as possible.
                    Details like user names, team names,  device names, team
                    memberships and leaf locations remain obscured unless users
                    are granted explicit permission to access these data.
                    Thus, users on the same server can feel
                    confident that their personal metadata are safe, even as
                    the server commits to the global state of all its data.
                </p>
            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col-md-4 mt-2 mb-2">
                <div class="text-center">
                <img src="/img/mit.webp" style="width: 200px;" />
                </div>  
            </div>  
            <div class="col-md-8">
                <h3 class="fs-4">Open Source</h3>
                <p class="text-start">
                    Claims of end-to-end encryption are dubious at best if the
                    source code at the ends remains closed off from inspection,
                    and if users cannot build the software themselves.  FOKS is
                    fully open-source. All components, client and server, are
                    available under an MIT license. You can run it, fork it, and
                    modify it to suit your needs.  We accept contributions and
                    feature requests, but we are a very small team, so please be
                    patient.
                 </p>
            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col-md-4 mt-2 mb-2">
                <div class="text-center">
                <img src="/img/bootstraps.webp" style="width: 200px;" />
                </div>  
            </div>  
            <div class="col-md-8">
                <h3 class="fs-4">Bootstrapped</h3>
                <p class="text-start">
                    We know that a lot of projects start as open-source,
                    but later rug-pull their users due to the economics 
                    of their funding models. The creators behind FOKS
                    have not taken on any outside funding, and are pursuing
                    its creation as a passion project. We think there might be a
                    good business in being a default hosting provider for FOKS,
                    which might provide the funding for the team to continue
                    development of the project indefinitely.
                 </p>
            </div>
        </div>


        <div class="row mt-4 mb-4">
            <div class="col-md-4">
                <div class="text-center">
                <img src="/img/federation.png" style="width: 200px;" />
                </div>  
            </div>  
            <div class="col-md-8">
                <h3 class="fs-4">Federation</h3>
                <p class="text-start">
                    Users are right to fear "vendor lock-in" if storing
                    their important data in the cloud. FOKS is fundamentally
                    designed to give users peace of mind here, as it is an
                    inherently federated protocol. Like email or the web,
                    anyone can permissionlessly run a FOKS server. There 
                    are many reasons users might choose to do so, such
                    as data-residency, avoiding production dependencies on
                    third-party systems, added privacy, or better 
                    control over data.
                </p>
                <p class="text-start">
                    But also like email and the web, independent federated
                    systems can still cleanly interact. In FOKS, teams 
                    can span federated severs, so users can share data 
                    as if they were on the same server. 
                </p>
           </div>
        </div> 

        <div class="row mt-4 mb-4">
            <div class="col-md-4">
                <div class="text-center">
                <img src="/img/general.png" style="width: 200px;" />
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="fs-4">Generality</h3>
                <p class="text-start">
                    FOKS is a general protocol, like email or HTML/HTTP.
                    We have built two starter applications to show 
                    the power of the basic primitive. But hope to build
                    more applications soon, and we want others to build
                    their end-to-end encrypted applications too. The basic
                    building block is a set of shared symmetric keys that
                    rotate when necessary. From here, the options are limitless.
                </p>
            </div>
        </div>

    </div>
