
    <!-- Principles section -->
    <div id="why" class="section">
        <div class="container">
        <h2 class="text-center">Guiding Principles</h2>

        <div class="row justify-content-center">
            <div class="col-md-8">
            <div class="accordion" id="whyAccordion">

                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whySecurity">
                            &#x1F512; Security &amp; Integrity
                        </button>
                    </h3>
                    <div id="whySecurity" class="accordion-collapse collapse" data-bs-parent="#whyAccordion">
                        <div class="accordion-body">
                            <p>
                                The world has become accustomed to strong end-to-end encryption
                                and integrity for ephemeral messaging. Other applications have not enjoyed the same
                                level of security. FOKS aims currently to provide the best possible
                                security for long-lived data, like persistent file storage (Git)
                                and persistent key-value storage.
                            </p>
                            <p>
                                FOKS is designed from a security-first perspective, and not
                                as a bolt-on to an inherently insecure product. The team
                                has used decades of experience in similar products to
                                achieve a level of security that we are proud of.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whyPrivacy">
                            &#x1F910; Privacy
                        </button>
                    </h3>
                    <div id="whyPrivacy" class="accordion-collapse collapse" data-bs-parent="#whyAccordion">
                        <div class="accordion-body">
                            <p>
                                Despite its ethos of forcing servers to immutably and
                                publicly commit to cryptographic data, FOKS hides personal
                                information behind one-way commitments as much as possible.
                                Details like user names, team names, device names, team
                                memberships and leaf locations remain obscured unless users
                                are granted explicit permission to access these data.
                                Thus, users on the same server can feel
                                confident that their personal metadata are safe, even as
                                the server commits to the global state of all its data.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whyOpenSource">
                            &#x1F4DC; Open Source
                        </button>
                    </h3>
                    <div id="whyOpenSource" class="accordion-collapse collapse" data-bs-parent="#whyAccordion">
                        <div class="accordion-body">
                            <p>
                                Claims of end-to-end encryption are dubious at best if the
                                source code at the ends remains closed off from inspection,
                                and if users cannot build the software themselves.  FOKS is
                                fully open-source. All components, client and server, are
                                available under an MIT license. You can run it, fork it, and
                                modify it to suit your needs.  We accept contributions and
                                feature requests, but we are a very small team, so please be
                                patient.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whyFederation">
                            &#x1F310; Federation
                        </button>
                    </h3>
                    <div id="whyFederation" class="accordion-collapse collapse" data-bs-parent="#whyAccordion">
                        <div class="accordion-body">
                            <p>
                                Users are right to fear "vendor lock-in" if storing
                                their important data in the cloud. FOKS is fundamentally
                                designed to give users peace of mind here, as it is an
                                inherently federated protocol. Like email or the web,
                                anyone can permissionlessly run a FOKS server. There
                                are many reasons users might choose to do so, such
                                as data-residency, avoiding production dependencies on
                                third-party systems, added privacy, or better
                                control over data.
                            </p>
                            <p>
                                But also like email and the web, independent federated
                                systems can still cleanly interact. In FOKS, teams
                                can span federated servers, so users can share data
                                as if they were on the same server.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whyGenerality">
                            &#x1F9E9; Generality
                        </button>
                    </h3>
                    <div id="whyGenerality" class="accordion-collapse collapse" data-bs-parent="#whyAccordion">
                        <div class="accordion-body">
                            <p>
                                FOKS is a general protocol, like email or HTML/HTTP.
                                We have built two starter applications to show
                                the power of the basic primitive. But hope to build
                                more applications soon, and we want others to build
                                their end-to-end encrypted applications too. The basic
                                building block is a set of shared symmetric keys that
                                rotate when necessary. From here, the options are limitless.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>

        </div>
    </div>
