<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Federated Open Key Service (FOKS)</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    {{{body}}}

    <!-- Footer -->
    <footer class="bg-light text-center py-4">
        <p>&copy; Placeholder. All rights reserved.</p>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html> 