
{{>nav}}

    <!-- Hero Section -->
    <div class="container-fluid bg-primary text-white text-center py-4">
        <div class="row align-items-center">
         <div class="col-md-7"><h1 class="display-1">FOKS</h1>
            <h2>the Federated Open Key Service (COMING SOON!)</h2>
        </div>
         <div class="col-md-4">
            <img src="/img/foks.png" style="height: 200px" />
          </div>
        </div>
        <div class="col-md-1"></div>
    </div>

{{>what}}

{{>how}}

{{>whitepaper}}

{{>why}}

{{>download}}

{{>roadmap}}

{{>source}}

{{>who}}